<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="homework1" >
        <classes>
            <class name="homework1.AuthTests"/>
        </classes>
    </test>
    <test name="homework2">
        <classes>
            <class name="homework2.TestBrowser"/>
        </classes>
    </test>
    <test name="homework3">
        <classes>
            <class name="homework3.SaucedemoTest"/>
            <class name="homework3.GoogleAmazonTest"/>
            <class name="homework3.AppleFacebookTest"/>
            <class name="homework3.MenuAmShopCartTest"/>
        </classes>
    </test>
</suite>
